beautifulsoup4 @ file:///home/linux1/recipes/ci/beautifulsoup4_1610988766420/work
docutils==0.16
docx2txt==0.8
entrypoints==0.3
et-xmlfile==1.0.1
HeapDict==1.0.1
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
htmlmin @ file:///tmp/build/80754af9/htmlmin_1605825795554/work
ipykernel @ file:///C:/ci/ipykernel_1596208728219/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1612213113434/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1610481889018/work
json5==0.9.5
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
matplotlib @ file:///C:/ci/matplotlib-base_1603356257853/work
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1603468620949/work
numpydoc @ file:///tmp/build/80754af9/numpydoc_1605117425582/work
pandas @ file:///C:/ci/pandas_1611178799982/work
pandas-profiling==1.4.1
pandocfilters @ file:///C:/ci/pandocfilters_1605102427207/work
path @ file:///C:/ci/path_1611952544066/work
pathlib2 @ file:///C:/ci/pathlib2_1607025068091/work
pathtools==0.1.2
pyodbc===4.0.0-unsupported
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
PyPDF2==1.26.0
PyYAML==5.4.1
regex @ file:///C:/ci/regex_1606691216163/work
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
scikit-image==0.17.2
scikit-learn @ file:///C:/ci/scikit-learn_1598376983131/work
scipy @ file:///C:/ci/scipy_1612469765256/work
seaborn @ file:///tmp/build/80754af9/seaborn_1608578541026/work
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1611258885636/work
sortedcollections @ file:///tmp/build/80754af9/sortedcollections_1611172717284/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1606865132123/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1607965878077/work
SQLAlchemy @ file:///C:/ci/sqlalchemy_1612467804654/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1611694770489/work

