beautifulsoup4==4.9.3
docutils==0.16
docx2txt==0.8
entrypoints==0.3
et-xmlfile==1.0.1
HeapDict==1.0.1
pandas==1.2.2
json5==0.9.5
nltk==3.5
ydata_profiling==4.12.1
requests==2.25.1
pathtools==0.1.2
PyPDF2==1.26.0
PyYAML==5.4.1
scikit-learn==0.24
scikit-image==0.17.2


